* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}
body {
	display: grid;
	align-items: center;
	justify-items: center;
	min-height: 100vh;
	background-color: #fff;
}
.margin-container {
	width: 550px;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}
.range-slider-container {
	width: 550px;
	position: relative;
	outline: 1px solid gray;
}
input {
	width: 90%;
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  background-color: #dee2e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  background-color: #007bff;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #007bff;
  outline-offset: 0.125rem;
}